.settings
.cproject
build
._*
.\#*
\#*
doc/build
*.pyc
.rosinstall
.project
.pydevproject
*~
*.orig
*~
bin/.tmp
.tmp
*.dot
build
*.png
.nfs*
chromedriver.log
*.swp
tooltip/bin/data
Testing/
.svn
build_html
bigdata/*
!bigdata/*.py
sphinx_build
dox_build
.hg
ext/rbdl/addons
ext/rbdl/src/Eigen
ext/rbdl/vendor
ext/rbdl/doc
*.vcproj
*.sln
callgrind.*
