.settings
.cproject
build
._*
.\#*
\#*
doc/build
*.pyc
.rosinstall
.project
.pydevproject
*~
*.orig
*~
bin/.tmp
.tmp
*.dot
build
*.png
.nfs*
chromedriver.log
*.swp
tooltip/bin/data
Testing/
.svn
build_html
bigdata/*.pcd